<div class="content">
    <h1>Contact Us</h1>
    <section>
        <div class="map">
            <!-- <iframe src="" frameborder="0"></iframe> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3683.0491188750993!2d75.88668611491167!3d22.614640885161183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fb28a5660d8b%3A0x2a7a0698a930c80f!2sChameli%20Devi%20Group%20of%20Institutions!5e0!3m2!1sen!2sin!4v1641405494665!5m2!1sen!2sin" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="details">
            <div class="address">
                <h2>Details</h2>
                <div><mat-icon class="material-icons-outlined">location_on</mat-icon><span> Umerikheda, Indore</span></div>
                <div><mat-icon class="material-icons-outlined">call</mat-icon><span> 0731-1234567</span></div>
                <div><mat-icon class="material-icons-outlined">email</mat-icon><span> cdgi@edu.in</span></div>
            </div>
            <div class="mail">
                <h2>Enquiry</h2>
                <form class="example-form alternate-theme">
                    <mat-form-field class="example-full-width" appearance="fill" color="accent">
                      <mat-label>Email</mat-label>
                      <input matInput placeholder="example@gmail.com">
                    </mat-form-field>
                  
                    <mat-form-field class="example-full-width" appearance="fill" color="accent">
                      <mat-label>Leave a comment</mat-label>
                      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                    </mat-form-field>
                    <button type="submit" class="submit-btn">Send</button>
                  </form>                      
            </div>
        </div>
    </section>
    <div class="copyright-mobile">Copyright ©Chameli Devi Group Of Institutions</div>
</div>
<div class="copyright">Copyright ©Chameli Devi Group Of Institutions</div>

