.container{
    /* z-index: 1000; */
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/main-qimg-4c3c2241be59649c7f04f08e069e1694.jpeg");
    background-size: cover;
    position: absolute;
    top: 0%;
    opacity: 0.6;
    filter: hue-rotate(20deg);
}


.heading{
    background-color : transparent;
    color: white;
    opacity: 0.8;
    width: 40%;
    font-variant: small-caps;
    position: absolute;
    top: 8vh;
    left: 20vw;
    font-size: 60px;
    font-weight: bold;
    padding: 10px;
    height: 15vh;
    z-index: 100;
    border-left: 5px solid yellow;
}

/* ----------------ABOUT_SECTION--------------------- */
.about-section{
    display: flex;
}
.about{
    background-color: black;
    color: white;
    width: 40vw;
    position: absolute;
    top: 30vh;
    left: 20vw;
    padding: 20px;
    opacity: 0.6;
    font-size: 17px;
}
.about h1{
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
}
.dates{
    display: block;
    height: max-content;
    position: absolute;
    top: 20%;
    left: 70%;
    z-index: 1000;    
}
.date-1, .date-2, .date-3{
    display: flex;
    justify-content:center;
    width: 300px;
    margin-top: 30px;
    background-color: white;
    height: 150px;
}
.date{
    background-color: black;
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    
}
.date span{
    font-size: 18px;
    display: block;
    margin-top: 20px;
}
.venue{
    text-align: center;   
    display: inline-block;
    justify-content: center;
    padding: 10px 20px 0 20px;
}
.view-btn{
    display: inline-block;
    margin-top: 30px;
    padding: 5px 10px 5px 10px;
    background-color: white;
    border: 2px solid green;    
    font-size: 14px;
    text-decoration: none;
}

/* -------------------------RESPONSIVENESS------------------ */
@media (min-width: 992px){
    .container{
        max-width: 100vw;
    }
}