<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <app-sidenav></app-sidenav> -->
    <!-- <app-navbar></app-navbar> -->
    <div class="container">
    </div>
        <div class="heading">
            Citronics 2k22
        </div>
        <div class="about-section">
            <div class="about">
                <h1>About</h1>
                <p>CITRONICS, the annual national level techno management fest of CDGI is organized every year with a sole intention of providing an impetus to the talented minds of engineering and management students with an opportunity to showcase their professional brilliance. CITRONICS provide the right platform for students to showcase their prowess and compete not only at the state level but also with students at national level. Number of high profile events like Robotics, Civil Engineering, Mechatronics, Software, and Management are organized in CITRONICS.</p>
            </div>
            <div class="dates">
                <div class="date-1">
                    <div class="date">
                        17 <span>February</span>
                    </div>
                    <div class="venue">
                        Location at which event will be held
                        <p><a href="" class="view-btn">View Details</a></p>
                    </div>
                </div>
                <div class="date-2">
                    <div class="date">
                        18 <span>February</span>
                    </div>
                    <div class="venue">
                        Location at which event will be held
                        <p><a href="" class="view-btn">View Details</a></p>
                    </div>
                </div>
                <div class="date-3">
                    <div class="date">
                        19 <span>February</span>
                    </div>
                    <div class="venue">
                        Location at which event will be held
                        <p><a href="" class="view-btn">View Details</a></p> 
                    </div>
                </div>
            </div>
        </div>
        
    <!-- </div> -->
</body>
</html>
