<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="event-page">
    <!-- <div id="particles-js"></div>
    <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles> -->
<!-- 
    <div id="particles-js" class="body">
        <div class="component-wrapper">
            <router-outlet></router-outlet>
        </div>
        <canvas class="particles-js-canvas-el" width="937" height="902" style="width: 100%; height: 100%;">
        </canvas>
    </div> -->
    
    <!-- <app-sidenav></app-sidenav> -->
    <!-- <app-navbar></app-navbar> -->

    <div class="main">
        <span>Citronics 2k22</span>Tech-Fest
    </div>
    <div class="events">
        <h1>EVENTS</h1>
    </div>
      <section >
        <div class="cards">
          <div class="column">
            <div class="card">
              <div class="content">
                <div class="front">
                  <img class="profile" src="assets/entertaiment.jpg" alt="Ronaldo">
                  <h2>Entertaiment</h2>
                </div>
                <div class="back from-bottom">
                  <ul>
                    <li><a href="">Sa Re Ga Ma Pa</a></li>
                    <li><a href="">Rangmanch</a></li>
                    <li><a href="">Treasure Hunt</a></li>
                    <li><a href="">DJ Night</a></li>
                    <li><a href="">Stunt Mania</a></li>
                    <li><a href="">Let's Dance</a></li>
                    <li><a href="">Open Mic</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div> 

          <div class="column">
            <div class="card">
              <div class="content">
                <div class="front">
                  <img class="profile" src="assets/robotics.jpg" alt="Ronaldo">
                  <h2>Robotics</h2>
                </div>
                <div class="back from-bottom">
               
                  <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
          <div class="column">
            <div class="card">
              <div class="content">
                <div class="front">
                  <img class="profile" src="assets/software.jpg" alt="Ronaldo">
                  <h2>Software</h2>
                </div>
                <div class="back from-bottom">
               
                  <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div> 
        </div> 
       </section>
       <section >
        <div class="cards">
          <div class="column">
            <div class="card">
              <div class="content">
                <div class="front">
                  <img class="profile" src="assets/civil1.jpg" alt="Ronaldo">
                  <h2>Civil</h2>
                </div>
                <div class="back from-bottom">
                  <ul>
                    <li><a href="">Sa Re Ga Ma Pa</a></li>
                    <li><a href="">Rangmanch</a></li>
                    <li><a href="">Treasure Hunt</a></li>
                    <li><a href="">DJ Night</a></li>
                    <li><a href="">Stunt Mania</a></li>
                    <li><a href="">Let's Dance</a></li>
                    <li><a href="">Open Mic</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div> 

          <div class="column">
            <div class="card">
              <div class="content">
                <div class="front">
                  <img class="profile" src="assets/on-the-spot.jpg" alt="Ronaldo">
                  <h2>Cristiano Ronaldo</h2>
                </div>
                <div class="back from-bottom">
               
                  <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
          <div class="column">
            <div class="card">
              <div class="content">
                <div class="front">
                  <img class="profile" src="assets/pharmacy.jpg" alt="Ronaldo">
                  <h2>Cristiano Ronaldo</h2>
                </div>
                <div class="back from-bottom">
               
                  <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div> 
        </div> 
       </section>
       <section >
        <div class="cards">
          <div class="column">
            <div class="card">
              <div class="content">
                <div class="front">
                  <img class="profile" src="assets/quiz.jpg" alt="Ronaldo">
                  <h2>Cristiano Ronaldo</h2>
                </div>
                <div class="back from-bottom">
                  <ul>
                    <li><a href="">Sa Re Ga Ma Pa</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div> 

          <div class="column">
            <div class="card">
              <div class="content">
                <div class="front">
                  <img class="profile" src="assets/Mechatronics.jpg" alt="Ronaldo">
                  <h2>Cristiano Ronaldo</h2>
                </div>
                <div class="back from-bottom">
               
                  <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
          <div class="column">
            <div class="card">
              <div class="content">
                <div class="front">
                  <img class="profile" src="assets/management.jpg" alt="Ronaldo">
                  <h2>Cristiano Ronaldo</h2>
                </div>
                <div class="back from-bottom">
               
                  <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div> 
        </div> 
        <app-footer></app-footer>
       </section>
</body>
</html>

