<!-- <app-navbar></app-navbar> -->
          <mat-card class="example-card container">
            <!-- <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pickachu</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header> -->
            <div class="card">
              <div class="slide slide1">
                <mat-card-content>
                  <div class="content">
                    <img mat-card-image src="assets/pickachu.jpg" alt="Photo of a Shiba Inu">
                  </div>
                </mat-card-content>
              </div>
              <div class="slide slide2">
                <mat-card-content>
                  <div class="content">
                    <a href="">Picka-picka</a>
                    <a href="">Picka-picka</a>
                    <a href="">Picka-picka</a>
                    <a href="">Picka-picka</a>
                  </div>
                </mat-card-content>
              </div>
            </div>
          </mat-card> 
