
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!-- <div class="scroll-bar" [style.color]="color" [style.background-color]="bgColor" [style.position]="position" [style.bottom]="top">
        Citronics 2k22
    </div> -->
    <!-- <app-navbar></app-navbar> -->
    
    <div class="bg-img">
    </div>

    <div class="citronics">
        Citronics 2k22
        <!-- <a href=""><mat-icon class="material-icons-outlined">arrow_forward_ios</mat-icon></a> -->
        <!-- <span class="expand-more"><a>»</a></span> -->
    </div>
    
    <app-footer></app-footer>

    
    

</body>
</html>