body{
    margin: 0;
    padding: 0;
    background-color: black;
/*     
    position: absolute;
    top:0%;
    background-size: cover;
    width: 100%;
    height: 100vh; */
}
/*  
 .bg-pic{
    background-image: url("../../assets/pexels-wendy-wei-1916821.jpg");
    position: absolute;
    left: 200px;
    top : 0%;
    background-size: cover;
    width :86%;
    height: 100%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}  */
/* 
.main-img{
    position: absolute;
    left: 35%;
    top: 35%;
    z-index: 100000;
} */
/* .scroll-bar{
    color: white;
    text-align: center;
    font-size: 40px;
    font-variant: small-caps;
    font-weight: bold;
    width: 100vw;
    padding: 10px;
    background-color: navy;
    position: absolute;
    top: 0%;
    z-index: 10000;
    scroll-behavior:smooth;
    display: none;
} */
.bg-img{
    width: 100%;
    height: 100%;
    background-image: url("../../assets/6-63833_2048x1152-pioneer-dj-wallpaper-wallpapers-browse-dj-wallpaper.jpg");
    background-size: cover;
    position: absolute;
    top: 0%;
    opacity: 0.4;
    filter: hue-rotate(20deg);
} 
.citronics{
    position: absolute;
    left: 25%;
    top: 45%;
    /* z-index: 100000; */
    font-size: 100px;
    font-weight: bold;
    color: white;
    opacity: 0.8;
    font-variant: small-caps;
    /* border-left: 5px solid yellow; */
}



/* -------------------------------------------------------RESPONSIVENESS----------------------------------- */

@media (max-width : 746px) {
   /* ------------CITRONICS------------- */
    body{
        background-color: black;
    }
    .citronics{
        position: absolute;
        left: 20%;
        top: 45%;
        opacity: 1;
        font-size: 35px;
    } 
    .bg-img{
        width: 100%;
        height: 100%;
        background-image: url("../../assets/6-63833_2048x1152-pioneer-dj-wallpaper-wallpapers-browse-dj-wallpaper.jpg");
        background-size: cover;
        position: absolute;
        top: 0%;
        opacity: 0.4;
        filter: hue-rotate(20deg);
    } 
}

@media (min-width : 746px) and (max-width: 992px){
    /* ------------CITRONICS------------- */
    .citronics{
        position: absolute;
        left: 40vw;
        top: 30vh;
        font-size: 60px;
    } 
}

@media (min-width : 1204px){

}
/* @media (max-width : 1280px){
    ------------CITRONICS------------- 
    .citronics{
        position: absolute;
        left: 30vw;
        top: 35vh;
        font-size: 100px;
    } 
} */










